.field{
  width: 500px;
  padding-bottom: 20px;
}

.colour-border{
  border: 15px solid rgb(6, 109, 6);
  padding: 10px;
}

.header{
  padding: 10px;
}

h1 { 
    color: maroon;
}

h3 { 
  color: slategray;
}

body  {
  padding: 10px;
  background-color: white;
}